<%- include('../common/_header',{path:'../',current:'about'}) %>
  <main>
    <div class="firstView">
      <div class="firstView_wrapper">
        <h2>
          <p class="firstView_copy_main">ABOUT US</p>
          <p class="firstView_copy_jp">DIGSMILEについて</p>
        </h2>
      </div>
    </div>
    <section class="section_vision">
      <div class="section_vision_wrapper">
        <h3>VISION</h3>
        <h4>デザインで人を笑顔にする会社</h4>
        <p>私達のデザインで人が笑顔になる。</p>
        <p>そんなデザインを目指しています。</p>
        <p>私達が考える人を笑顔にできるデザインとは、<br>デザインが課題を適切に解決ができているかどうか。</p>
        <p>ビジュアルだけではなく、<br>本当に求められているものは何かを考え抜いて、<br>デザインしていきたい。</p>
        <p>誰かの幸せを創ることも、<br>世界の常識を変えていくことだってできる。</p>
        <p>私達はデザインの力を信じています。</p>
      </div>
    </section>
    <section class="section_massage">
      <img src="../image/pc/about/ceo-img@2x.jpg" alt="massage">
      <div class="section_content">
        <h3 class="section_header">CEO MESSAGE</h3>
        <p>良いデザインは人を幸せにする。</p>
        <p>私達はそう信じています。</p>
        <p>デザインを通して、ビジネスの課題とユーザーの課題を解決することで、世の中を幸せにしていきたい。</p>
        <p>現在はあらゆるプロダクトがデジタル化されており、デザイナーに対する需要はますます高まっています。それとともに、期待される役割も幅広くなりつつあります。</p>
        <p>クリエイティブで社会の可能性を切り開いていく。</p>
        <p>変化の激しい現代、私達はデザインの力で社会を良い方向に変革していく企業を目指していきます。</p>
      </div>
    </section>
    <section class="section_company">
      <h3>COMPANY</h3>
      <dl class="topic_list">
        <dt>社名</dt><dd>株式会社DIGSMILE</dd>
        <dt>代表取締役</dt><dd>テイラー・スウィフト</dd>
        <dt>設立</dt><dd>2020年1月1日</dd>
        <dt>資本金</dt><dd>1億円</dd>
        <dt>所在地</dt><dd>東京都新宿区☓☓0-0-0</dd>
        <dt>電話番号</dt><dd>03-0000-00000</dd>
      </dl>
    </section>
    <section class="section_map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.4880141904196!2d139.69838261525905!3d35.689606680192334!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188cd0d6b1ba1f%3A0x1c32a1f1ecacfdd5!2z5paw5a6_6aeF!5e0!3m2!1sja!2sjp!4v1623376962920!5m2!1sja!2sjp" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </section>
  </main>
  <%- include('../common/_footer') %>
