
<%- include('./common/_header',{
  path:'./',
  current:'top'
}) %>
<main>
    <div class="firstView">
      <div class="firstView_wrapper">
        <h2>
          <p class="firstView_copy_jp">デザインで人を笑顔にする会社</p>
          <p class="firstView_copy_company">DIGSMILE INC.</p>
          <p class="firstView_copy_main">DESIGN<br>FOR<br>SMILE.</p>
        </h2>
      </div>
    </div>
    <section class="section_about">
      <div class="section_about_wrapper">
        <div class="section_about_content">
          <h3 class="section_header">ABOUT US</h3>
          <p class="ff_noto">DIGSMILEは、デザインで人を笑顔にする会社。<br>なんでもない日常に少しのワクワクと遊び心を提供します。笑顔には世界を変える力がある、デザインには人を幸せにする力がある。毎日に幸せを感じて生きていきたい。<br>DIGSMILEの社名にはそんな想いが込められています。</p>
          <a class="section_more" href="./about/">READ MORE</a>
        </div>
      </div>
    </section>
    <div class="section_bg_gray">
      <div class="section_wrapper">
        <section class="section_works">
          <div class="section_content">
            <h3 class="section_header">WORKS</h3>
            <img src="./image/pc/top/works-img@2x.jpg" alt="works-kv">
            <p>DIGSMILEの制作実績を紹介します。</p>
          </div>
          <a class="section_more" href="#">READ MORE</a>
        </section>
        <section class="section_culture">
          <div class="section_content">
            <h3 class="section_header">CULTURE</h3>
            <img src="./image/pc/top/culture-img@2x.jpg" alt="culture-kv">
            <p>DIGSMILEの社内文化について紹介します。</p>
          </div>
          <a class="section_more" href="#">READ MORE</a>
        </section>
      </div>
    </div>
    <section class="section_topic">
      <div class="topic_header">
        <h3>LATEST TOPICS</h3>
      </div>
      <ul class="topic_list">
        <li><a href=""><span class="topic_date ff_monster">2020.02.01</span>イベントレポート「VRクリエイター座談会 〜5Gの次に来るもの〜」</a></li>
        <li><a href=""><span class="topic_date ff_monster">2020.01.18</span>プレスリリースのお知らせ DIGGIN’ RECORDS</a></li>
        <li><a href=""><span class="topic_date ff_monster">2020.01.01</span>新年明けましておめでとうございます</a></li>
        <li><a class="section_more" href="#">READ MORE</a></li>
      </ul>
    </section>
    <section class="section_contact">
      <div class="contact_2col">
        <div class="contact_text_wrapper">
          <h3 class="section_header">CONTACT</h3>
          <p>制作の依頼、取材の依頼、IRや採用についての連絡・お問い合わせはコンタクトページから承っております。<br>まずはお気軽にご連絡ください。担当者から改めて返信いたします。</p>
          <a class="section_more" href="./contact/">READ MORE</a>
        </div>
        <div class="contact_img_wrapper">
          <img src="./image/pc/top/recruit-img@2x.jpg" alt="contact-kv">
        </div>
      </div>
    </section>
  </main>
<%- include('./common/_footer') %>
